<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat | NTS</title>
    <meta name="description" content="Don't Assume" />
    <meta name="author" content="NTS Radio" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <meta property="og:site_name" content="NTS Radio" />
    <meta property="og:title" content="Chat" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.nts.live/chat" />
    <meta
      property="og:image"
      content="https://www.nts.live/css/images/nts-fb-logo_2.jpg"
    />
    <link rel="canonical" href="https://www.nts.live/chat" />
  </head>
  <body id="chat-body">
    <section id="chat-page" class="container">
      <div id="chat-standalone"></div>
    </section>
    <script type="text/javascript">
      (function () {
        function async_load() {
          s.src = "https://st.chatango.com/js/gz/emb.js";
          s.id = "cid0020000159738696204";
          s.style.cssText = "width:480px;height:520px;";
          s.async = true;
          s.text =
            '{"handle":"ntsliveuk","arch":"js","styles":{"a":"000000","b":100,"c":"FFFFFF","d":"FFFFFF","k":"000000","l":"000000","m":"000000","n":"FFFFFF","p":"10","q":"000000","r":100,"t":0,"surl":0}}';

          var container = document.getElementById("chat-standalone");
          container.appendChild(s);
        }

        var s = document.createElement("script");
        if (s.async == undefined) {
          if (window.addEventListener) {
            addEventListener("load", async_load, false);
          } else if (window.attachEvent) {
            attachEvent("onload", async_load);
          }
        } else {
          async_load();
        }
      })();
    </script>
    <noscript>
      This site requires Javascript enabled to run
    </noscript>
  </body>
</html>
