.body-container {
  padding: 20px;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-top: 125px;
}

.body-container h1 {
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .body-container {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .body-container{
      margin-top: 160px;
  }
}

/* @media only screen and (max-width: 475px) {
  .body-container {
    margin-top: 160px;
  }
}

@media only screen and (max-width: 375px) {
  .body-container {
    margin-top: 145px;
  }
} */
