.days-header {
  display: flex;
  flex-wrap: wrap;
}

.days-header-item {
  cursor: pointer;
  padding: 10px;
  margin-right: 5px;
}

.days-header-item:hover {
  background-color: rgba(0, 145, 138, 1);
  color: white;
}

.days-header-0 {
  background-color: rgba(0, 145, 138, 1);
  color: white;
}

.show-schedule {
  /* background-color: rgba(0, 145, 138, 0.1); */
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.show-listing p {
  display: inline;
}

.show-listing {
  margin-bottom: 5px;
}

.show-time {
  margin-right: 40px;
}
