.residents-container {
    margin-top: 143px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
    .residents-container {
       justify-content: space-evenly;

    }
}