
.logo-head-container {
  position: absolute;
  left: 50%;
  margin-left: -95.76px;
}

.logo-head {
  margin-top: 17px;
}

.logo-head img {
  height: 36px;
}

@media only screen and (max-width: 768px) {
  .logo-head-container{
  top: -70px;
  left: 0%;
  padding-left: 50vw;
  padding-right: 50vw;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: white;
  }
}

@media only screen and (max-width: 425px) {
  .logo-head-container{
    padding-top: 15px;
    top: -76px;
  }
}
