@import "../../styleguide.scss";

.currentshow-playbutton-container {
  padding: 10px;
  background-color: $altblue;
  /* line-height: 25px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  letter-spacing: 1px;

  p {
    margin: 0px;
  }
}

.currentshow-playbutton-container-white {
  padding: 10px;
  background-color: $altblue;
  /* line-height: 25px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  letter-spacing: 1px;

  p {
    color: $playerwhite;
    margin: 0px;
  }
}

@media only screen and (min-width: 768px) {
  .currentshow-playbutton-container {
    cursor: pointer;
  }

  .currentshow-playbutton-container-white {
    cursor: pointer;
  }

  .currentshow-playbutton-container:hover {
    background-color: $playerwhite;
    color: $altblue;

    p {
      color: $altblue;
    }

    .play-button {
      border-color: transparent transparent transparent $altblue;
    }
  }

  .currentshow-playbutton-container-white:hover {
    background-color: $playerwhite;
    color: $altblue;

    p {
      color: $altblue;
    }

    .pause-button {
      border-color: $altblue;
    }
  }
}

@media only screen and (max-width: 520px) {
  .currentshow-playbutton-container,
  .currentshow-playbutton-container-white {
    padding: 5px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 320px) {
  .currentshow-playbutton-container,
  .currentshow-playbutton-container-white {
    padding: 4px;
  }
}
