@import "../../../styleguide.scss";
.resident-list-item {
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 20vw;
    max-width: 265px;
    padding: 5px 5px 4px 5px;
    margin: 15px 10px 15px 15px;
    background: white;
    border-bottom: 2px solid var(--notquiteblack);
    /* align-items: center; */
    h4 {
        padding-top: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        letter-spacing: 1px;
        font-weight: normal;
        color: var(--notquiteblack);
    }
}

.resident-list-item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 180px;
    overflow: hidden;
    img {
        width: auto;
        height: 265px;
        margin: 40px 0px 0px 0px;
    }
}

@media only screen and (min-width: 768px) {
    .resident-list-item:hover {
        img {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }
    }
}

@media only screen and (max-width: 768px) {
    .resident-list-item {
        height: 140px;
        width: 137px;
        margin: 10px;
    }
}

// 2-column layout
@media only screen and (max-width: 540px) {
    .resident-list-item {
        height: 140px;
        margin: 10px 5px;
        width: 148px;
    }
}

@media only screen and (max-width: 375px) {
    .resident-list-item {
        height: 130px;
        width: 130px;
        h4 {
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 345px) {
    .resident-list-item {
        height: 120px;
        width: 110px;
    }
}