.currentshow-container {
  display: flex;
  flex-direction: column;
  width: 45vw;
  margin: 0px 10px 0px 20px;
}

.currentshow-sub-container {
  background-color: white;
  padding: 2px;
  position: relative;
  color: white;
  background-color: var(--highlightyellow);
}

.currentshow-img-container {
  width: inherit;
  z-index: -100;
}

.currentshow-img {
  width: 100%;
}

.currentshow-info-container {
  position: absolute;
  bottom: 20px;
  left: 16px;
  margin-right: 16px;
}

.currentshow-show-name {
  /* margin-right: 170px; */
  font-size: 2em;
}

.currentshow-show-name span {
  background-color: rgb(72, 67, 73, 0.8);
  padding: 4px;
  line-height: 45px;
}

.currentshow-show-description {
  /* margin-right: 400px; */
}

.currentshow-show-description span {
  padding: 4px;
  background-color: rgb(72, 67, 73, 0.8);
  line-height: 25px;
}
