.currentshow-container {
  display: flex;
  flex-direction: column;
  width: 41vw;
  margin: 0px 10px 0px 20px;
}

.currentshow-sub-container {
  padding: 4px 4px 1px 4px;
  position: relative;
  color: white;
  background-color: var(--notquiteblack);
  /* box-shadow: 0px 3px 15px var(--highlightyellow);  */
}

.currentshow-img-container {
  width: inherit;
  z-index: -1;
}

.currentshow-img {
  width: 100%;
}

.currentshow-playbutton-container {
  padding: 10px;
  background-color: var(--altblue-80transparent);
  /* line-height: 25px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  letter-spacing: 1px;
  cursor: pointer;
}

.currentshow-playbutton-container p {
  margin: 0px;
}

.currentshow-info-container {
  position: absolute;
  bottom: 34px;
  left: 34px;
  margin-right: 16px;
}

.currentshow-show-name {
  /* margin-right: 170px; */
  font-size: 2.5em;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.currentshow-show-name span {
  background-color: rgba(72, 67, 73, 0.8);
  padding: 4px;
  line-height: 56px;
}

.currentshow-show-description {
  margin-right: 20%;
}

.currentshow-show-description span {
  padding: 4px;
  background-color: rgba(72, 67, 73, 0.8);
  line-height: 24px;
  display: block;
}

@media only screen and (max-width: 1160px) {

  .currentshow-show-name {
    font-size: 1.5em;
  }

  .currentshow-show-name span {
    line-height: 36px;
  }

  .currentshow-show-description span {
    font-size: 14px;
    line-height: 20px;
  }

  .currentshow-show-description {
    margin-right: 10%;
  }


}

@media only screen and (max-width: 800px) {

  .currentshow-container{
    width: 85vw;
    margin: 0px 10px 0px 10px;
    margin-bottom: 40px;
  }

  .currentshow-show-name {
    font-size: 2em;
  }

  .currentshow-show-name span {
    line-height: 46px;
  }

  .currentshow-show-description span {
    font-size: 18px;
    line-height: 25px;
  }

  .currentshow-show-description {
    margin-right: 25%;
  }

}

@media only screen and (max-width: 520px) {
  .currentshow-show-name {
    font-size: 1.5em;
  }

  .currentshow-show-name span {
    line-height: 36px;
  }

  .currentshow-show-description span {
    font-size: 14px;
    line-height: 20px;
  }

  .currentshow-show-description {
    margin-right: 10%;
  }

  .currentshow-playbutton-container {
    padding: 5px;
    font-size: 14px;
  }

}

@media only screen and (max-width: 400px) {

  .currentshow-info-container{
    bottom: 10px;
  }

  .currentshow-show-name {
    font-size: 1.2em;
  }

  .currentshow-show-name span {
    line-height: 31px;
  }

  .currentshow-show-description span {
    font-size: 12px;
    line-height: 18px;
  }

  .currentshow-show-description {
    margin-right: 10%;
  }


}

@media only screen and (max-width: 320px) {

  .currentshow-info-container{
    bottom: 5px;
    left: 15px;
  }

  .currentshow-show-name {
    font-size: 1.2em;
  }

  .currentshow-show-description span {
    font-size: 12px;
    line-height: 18px;
  }

  .currentshow-show-description {
    margin-right: 5px;
  }

  .currentshow-playbutton-container{
    padding: 4px;
  }

}
