.logo-head-container {
  position: fixed;
  width: 100vw;
  top: 0px;
  z-index: 150;
  text-align: center;
  pointer-events: none;
}

.logo-head {
  margin-top: 18px;
}

.logo-head img {
  height: 36px;
}

@media only screen and (max-width: 768px) {
  .logo-head-container{
    height: 76px;
    z-index: 100;
    background-color: white;
  }
}
