.player-container {
}

.custom-player{
  background-color: var(--ehfmcolor);
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
}

.onair-container{
  color: #efefef;
  font-size: 12px;
  border-right: 2px solid white;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.onair-circle{
  background: #efefef;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 7px;
  animation: fader 3s infinite;
  animation-timing-function: ease-out;
  /* animation-duration: 2000ms;
  animation-fill-mode: forwards; */
}

@keyframes fader{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.play-button {
  margin-left: 20px;
  cursor: pointer;
  border-style: solid;
  border-width: var(--main-button-half-size) 0 var(--main-button-half-size) var(--main-button-size);
  border-color: transparent transparent transparent #efefef;
}

.pause-button {
  cursor: pointer;
  margin-left: 20px;
  height: 15px;
  border-color: #efefef;
  border-style: double;
  border-width: 0px 0 0px 12px;
}

.play-button-container{
  width: var(--main-button-size);
  padding-right: 20px;
}

.volume-button-container {
  border-left: 2px solid white;
  padding-left: 20px;
}

.left-side-player{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.right-side-player{
  margin:0px 0px 0px auto;
  align-items: center;
  justify-content: center;
}

.volume-button{
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.current-show{
  font-weight: bold;
  border-right: 2px solid white;
  padding-right: 50px;
  color: #efefef;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
}
