.player-container {
  position: fixed;
  top: 66px;
  width: 100vw;
  z-index: 100;
}

.custom-player{
  background-color: var(--ehfmcolor);
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.onair-container{
  color: var(--playerwhite);
  font-size: 11px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.onair-circle{
  background: rgb(255, 253, 130);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 7px;
  animation: fader 3s infinite;
  animation-timing-function: ease-out;
  /* animation-duration: 2000ms;
  animation-fill-mode: forwards; */
}

@keyframes fader{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.play-button {
  margin-left: 20px;
  cursor: pointer;
  border-style: solid;
  border-width: var(--main-button-half-size) 0 var(--main-button-half-size) var(--main-button-size);
  border-color: transparent transparent transparent var(--playerwhite);
}

.pause-button {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 0.7px;
  height: 15px;
  border-color: var(--playerwhite);
  border-style: double;
  border-width: 0px 0 0px 12px;
}

.play-button-container{
  border-left: 2px solid white; */
  width: var(--main-button-size);
  padding-right: 20px;
}

.volume-button-container {
  border-left: 2px solid white;
  padding-left: 20px;
}

.left-side-player{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.right-side-player{
  margin:0px 0px 0px auto;
  align-items: center;
  justify-content: center;
}

.volume-button{
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.current-show{
  /* font-weight: bold; */
  border-right: 2px solid white;
  padding-right: 50px;
  color: var(--playerwhite);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
}

@media only screen and (max-width: 1024px){
  .volume-button-container{
    display: none;

  }

  .current-show{
    border-right: none;
  }
}

@media only screen and (max-width: 520px) {
  .current-show{
    margin-left: 10px;
    padding-right: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .current-show{
    font-size: 14px;
  }
}
