$spanbg: rgba(72, 67, 73, 0.8);
.resident-show-bg-img {
    background-position: center center !important;
    background-size: cover !important; // background: url(https://ehfm.cdn.prismic.io/ehfm/f91db8d…_ambar-simpang-1107678-unsplash.jpg);
    width: 100vw;
    height: 100vh;
    display: flex; // justify-content: center;
    // align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: -100; // margin-top: 50px;
    top: 0px;
    left: 0; // position: relative;
    img {
        max-width: 100%; // max-height: 100vh;
        margin: auto;
    }
}

.resident-show-display-container {
    margin-top: 143px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .resident-show-title-container {
        margin-bottom: 40px;
    }
    .resident-show-display-description {
        width: 40vw;
    }
    h3 {
        font-size: 4.5em;
        letter-spacing: 2px;
        margin-bottom: 0px;
        margin-top: 20px;
        font-weight: normal;
        color: white; // line-height: 92px;
        span {
            background-color: $spanbg;
            padding: 4px;
            line-height: 92px;
        }
    }
    p {
        margin-right: 20%;
        color: white;
        span {
            padding: 4px;
            background-color: $spanbg;
            line-height: 24px;
            display: block;
        }
    }
    .resident-show-footer {
        bottom: 20px;
        position: fixed;
        display: flex;
        .resident-show-socials {
            display: flex;
            background-color: $spanbg;
            position: relative;
            img {
                height: 18px;
                width: 18px;
            }
            .social-icon {
                //   margin: 5px 5px 5px 5px;
                padding: 4.5px 5px 2.5px 5px;
            }
        }
    }
    .resident-show-time {
        // background-color: $spanbg;
        span {
            background-color: $spanbg;
            padding: 4px;
            line-height: 27px;
            color: white;
            border-bottom: 4px solid white;
            font-weight: 200;
            letter-spacing: 0.04em;
        }
    } // .resident-show-divider{
    //     height: 2px;
    //     background-color: white;
    // }
}

.resident-show-pastshows-container{
    display: flex;
    flex-wrap: wrap;
    .resident-pastshow-card{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .resident-show-display-container {
        h3 {
            font-size: 3.5em;
            span {
                line-height: 73px;
            }
        }
        .resident-show-display-description {
            width: 50vw;
        }
    }
}

@media only screen and (max-width: 425px) {
    .resident-show-display-container {
        h3 {
            font-size: 3em;
            span {
                line-height: 64px;
            }
        }
        .resident-show-display-description {
            width: 70vw;
            p {
                margin-right: 0%;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .resident-show-display-container {
        h3 {
            font-size: 3em;
            span {
                line-height: 64px;
            }
        }
        .resident-show-display-description {
            width: 80vw;
            font-size: 14px;
        }
        .resident-show-time {
            font-size: 14px;
            span {
            line-height: 26px;
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .resident-show-display-container {
        h3 {
            font-size: 3em;
            span {
            }
        }
        .resident-show-display-description {
        }
    }
}