.schedule-container {
  display: flex;
  flex-direction: column;
  width: 45vw;
  margin: 0px 20px 0px 10px;
  overflow: hidden;
}

.schedule-subcontainer{
  padding: 20px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.schedule-divider {
  height: 4px;
  width: 100%;
  background-color: var(--altblue)
}


.days-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
}

.days-header-item {
  cursor: pointer;
  padding: 10px;
  margin-top: 5px;
  /* margin: 5px 5px 5px 5px; */
}

.days-header-item:hover {
  background-color: var(--altblue);
  color: white;
}

.days-header-0 {
  background-color: var(--altblue);
  color: white;

}

.show-schedule {
  /* background-color: rgba(0, 145, 138, 0.1); */
  padding: 10px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.show-listing p {
  display: inline;
}

.show-listing {
  margin-bottom: 5px;
}

.show-name {
  font-size: 24px;
}

.show-time {
  margin-right: 40px;
}
