:root {
  --main-button-size: 0.8em;
  --main-button-half-size: calc(var(--main-button-size) / 1.7);
  --playerwhite: rgb(255, 255, 255);
  --ehfmcolor: rgb(0, 145, 138);
  --altblue: rgb(3, 181, 170);
  --altblue-80transparent: rgba(3, 181, 170, 0.8);
  --altblue-60transparent: rgba(3, 181, 170, 0.8);
  --highlightyellow: rgb(255, 253, 130);
  --bgwhite: rgb(247, 240, 240);
  --notquiteblack: rgb(72, 67, 73);
  --notquiteblack-80transparent: rgba(72, 67, 73, 0.8);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';
  background-color: var(--bgwhite);
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  letter-spacing: 1px;
}

@media only screen and (min-width: 768px) {
    a:hover{
        text-decoration: none;
      }
}

@font-face {
    font-family: 'Helvetica Neue';
    src: 'HelveticaNeue-Bold.woff2' format('woff2'),
        'HelveticaNeue-Bold.woff' format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: 'HelveticaNeue-Light.woff2' format('woff2'),
        'HelveticaNeue-Light.woff' format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: 'HelveticaNeue.woff2' format('woff2'),
        'HelveticaNeue.woff' format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'Helvetica Neue';
    src: 'HelveticaNeue-Medium.woff2' format('woff2'),
        'HelveticaNeue-Medium.woff' format('woff');
    font-weight: 500;
    font-style: normal;
} */

/* @font-face {
    font-family: 'Helvetica Neue';
    src: 'HelveticaNeue-UltraLightItalic.woff2' format('woff2'),
        'HelveticaNeue-UltraLightItalic.woff' format('woff');
    font-weight: 100;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Helvetica Neue';
    src: 'HelveticaNeue-Italic.woff2' format('woff2'),
        'HelveticaNeue-Italic.woff' format('woff');
    font-weight: normal;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Helvetica Neue';
    src: 'HelveticaNeue-BoldItalic.woff2' format('woff2'),
        'HelveticaNeue-BoldItalic.woff' format('woff');
    font-weight: bold;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Helvetica Neue';
    src: 'HelveticaNeue-LightItalic.woff2' format('woff2'),
        'HelveticaNeue-LightItalic.woff' format('woff');
    font-weight: 300;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Helvetica Neue';
    src: 'HelveticaNeue-CondensedBlack.woff2' format('woff2'),
        'HelveticaNeue-CondensedBlack.woff' format('woff');
    font-weight: 900;
    font-style: normal;
} */

/* @font-face {
    font-family: 'Helvetica Neue';
    src: 'HelveticaNeue-Light.woff2' format('woff2'),
        'HelveticaNeue-Light.woff' format('woff');
    font-weight: 300;
    font-style: normal;
} */

/* @font-face {
    font-family: 'Helvetica Neue';
    src: 'HelveticaNeue-MediumItalic.woff2' format('woff2'),
        'HelveticaNeue-MediumItalic.woff' format('woff');
    font-weight: 500;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Helvetica Neue';
    src: 'HelveticaNeue-CondensedBold.woff2' format('woff2'),
        'HelveticaNeue-CondensedBold.woff' format('woff');
    font-weight: bold;
    font-style: normal;
} */
