$spanbg: rgba(72, 67, 73, 0.8);
@import "../../../../styleguide.scss";
.resident-show-bg-img {
    background-position: center center !important;
    background-size: cover !important; // background: url(https://ehfm.cdn.prismic.io/ehfm/f91db8d…_ambar-simpang-1107678-unsplash.jpg);
    width: 100vw;
    height: 100vh;
    display: flex; // justify-content: center;
    // align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: -100; // margin-top: 50px;
    top: 0px;
    left: 0; // position: relative;
    img {
        max-width: 100%; // max-height: 100vh;
        margin: auto;
    }
}

.resident-show-display-container {
    margin-top: 143px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .resident-show-title-container {
        margin-bottom: 40px;
    }
    .resident-show-display-description {
        width: 40vw;
    }
    h3 {
        font-size: 4.5em;
        letter-spacing: 2px;
        margin-bottom: 0px;
        margin-top: 20px;
        font-weight: normal;
        color: white; // line-height: 92px;
        span {
            background-color: $spanbg;
            padding: 4px;
            line-height: 92px;
        }
    }
    p {
        margin-right: 20%;
        color: white;
        span {
            padding: 4px;
            background-color: $spanbg;
            line-height: 24px;
            display: block;
        }
    }
        .resident-show-socials {
            display: flex;
            img {
                height: 18px;
                width: 18px;
            }
            .social-icon {
                background-color: $spanbg;
                //   margin: 5px 5px 5px 5px;
                padding: 4.5px 5px 2.5px 5px;
            }
        }
    .resident-show-time {
        // background-color: $spanbg;
        span {
            background-color: $spanbg;
            padding: 4px;
            line-height: 27px;
            color: white;
            border-bottom: 4px solid white;
            font-weight: 200;
            letter-spacing: 0.04em;
        }
    } // .resident-show-divider{
    //     height: 2px;
    //     background-color: white;
    // }
}

.resident-show-pastshows-container {
    margin-top: 0px;
    // position: absolute;
    // left: 50%;

    .most-recent{
        position: absolute;
        bottom: 140px;    

        h1 {
            padding: 4px;
            margin: 0px 5px 0px 0px;
            // padding: 10px 15px;
            font-size: $tinyfont;
            font-weight: 400;
            letter-spacing: 1px;
            color: white;
            background-color: $spanbg;
            display: inline-block;
        }

        .resident-pastshow-card {
            border: none;
            padding: 8px 4px;
            margin: 0px;
            background: $ehfmcolor;

            .resident-mixcloud-showname {
                font-weight: normal;
                color: white;
            }

            .resident-mixcloud-date {
                color: white;
            }

            .resident-mixcloud-tags-container{
                display: none;
            }
            
        }
    }

    .pastshows-button{
        background-color: $ehfmcolor;
        position: absolute;
        bottom: 40px;
        display: flex;
        align-items: center;
        min-width: 102px;
        h1 {
            padding: 4px;
            margin: 0px 5px 0px 0px;
            // padding: 10px 15px;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 1px;
            color: white;
        }
        svg {
            color: white;
            padding-right: 8px;
        }

        .fa-chevron-right{
            margin-left:4px;
        }
        &.active {
                background-color: white;
                h1 {
                    color: $ehfmcolor;
                }
                svg {
                    color: $ehfmcolor;
                }
        }
    }

    .resident-pastshow-card {
        border-bottom: 2px solid $ehfmcolor;
        margin: 20px 10px;
        color: $notquiteblack;
        padding: 10px 4px 5px 4px;
        display: flex;
        flex-direction: column;
        border-radius: 2px;
        // .show-img {
        //     width: 200px;
        //     height: 200px;
        //     background-position: center;
        // }
        .showname-info-cont{
            display: flex;
            align-items: center;
        }
        .resident-mixcloud-showname {
            font-weight: bold;
            font-size: $bodyfont;
            margin-right: 10px;
        }
        .resident-mixcloud-date {
            font-size: $smallfont;
            margin-right: 15px;
        }
        .resident-mixcloud-tags-container {
            display: flex;
            font-size: $tinyfont;
            color: $bodyfont;
            .mixcloud-tag {
                margin: 1px;
                padding: 4px;
                background-color: $softwhite;
            }
        }
    }
    
    
    .cards-container{
        position: absolute;
        top: 100vh;
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
    } 
}

.mixcloud-cont {
    position: fixed;
    bottom: -3px;
    width: 100%;
    display: flex;
    flex-direction: column;
    .close-player-btn{ 
        margin-right: 10px;
        text-align: center;
        align-self: flex-end;
        background-color: $altblue-60transparent;
        font-size: $smallfont;
        padding: 1px 6px 4px 7px;
        color: $softwhite;
    }
    .resident-mixcloud-widget {
     
    }
}

@media only screen and (min-width: 768px) {
    .close-player-btn{
        &:hover{
            cursor: pointer;
            background-color: $softwhite;
            color: $altblue-60transparent;
            transition: background-color .2s, color .2s;
        }
    }
    .pastshows-button{
        &:hover{
            cursor: pointer;
            background-color: white;
            transition: background-color .2s, color .2s;
            h1 {
                color: $ehfmcolor;
            }
            svg {
                color: $ehfmcolor;
            }
        }
    }


    .resident-pastshow-card {
        &:hover{
            cursor: pointer;
            background-color: $altblue-10transparent;
            transition: background-color .2s;
        }
    }
} 

@media only screen and (max-width: 768px) {
    .resident-show-display-container {
        h3 {
            font-size: 3.5em;
            span {
                line-height: 73px;
            }
        }
        .resident-show-display-description {
            width: 50vw;
            p {
                margin-bottom: 10px;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .resident-show-display-container {
        h3 {
            font-size: 3em;
            span {
                line-height: 64px;
            }
        }
        .resident-show-display-description {
            width: 70vw;
            p {
                margin-right: 0%;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .resident-show-display-container {
        h3 {
            font-size: 3em;
            span {
                line-height: 64px;
            }
        }
        .resident-show-display-description {
            width: 80vw;
            font-size: 14px;
        }
        .resident-show-time {
            font-size: 14px;
            span {
                line-height: 26px;
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    .resident-show-display-container {
        h3 {
            font-size: 3em;
            span {}
        }
        .resident-show-display-description {}
    }
}